/*.box-cont
{


	display: flex;



}

.box-cont > div {
  border: 1px solid #ab0d0d;
  color: #FFF;
  background: none repeat scroll 0 0 #DA1111;
 
  width: auto;
  height: 40px;
 
  margin: 10px;
  padding-top: 2%;
  text-align: center;
  line-height: 5px;
  font-size: 20px;
}

.box-cont:hover > div
{

background: none repeat scroll 0 0 #3b3c41;

}*/

#Boton
{



}
}
#Boton:hover 
{
visibility: visible;

}
#Boton > p
{
visibility: hidden;

}